{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h1 style="font-family: 'Roboto', sans-serif;">About SmartScope</h1>
<br>

<p style="font-family: 'Roboto', sans-serif;">Welcome to SmartScope, the data-driven software solution that helps businesses increase sales by providing predictive insights. 
    Our mission is to help small and medium-sized enterprises (SMEs) leverage the power of data to target their customers more effectively and increase their revenue. We want to empower smaller companies with the same technology being used by larger corporations.
     The difference between us and other targeted marketing solutions such as Google Ads and Facebook Ads is that we offer a physical approach.


 </p>

 <p style="font-family: 'Roboto', sans-serif;">Our software uses data processing and analysis techniques to provide predictive insights, such as selling data on new homeowners to luxury sofa retailers,
     and selling data on commencement of construction notices to flooring and kitchen companies. We tailor our product to meet the specific needs of our customers, and we are always looking for new ways to help them increase their sales.
 </p>


{% endblock %}
