<!doctype html >
<html >
<head >
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <style>


    /* .text-light:hover {
      border-bottom: 1px solid white;
    } */

    .body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .footer {
    color: white;
    }

   .navbar {
    height: 100x;
    position: relative;
   }
   .content{
    text-align: center;
    padding-top: 45px;
    padding-left: 200px;
    padding-right: 200px;

    
   }
   .navbar-brand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav li:first-child {
  padding-left: 80px;
}


/* 55514D   1C1814 */


    </style>
    </head>
    <body style = "background-color:#1C1814; color:white"
    class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('home')}}">
              <img src="{{ url_for('static', filename='brandlogo.png') }}" alt="SmartScope" width="92" height="92"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('home')}}" style="font-size: 40px; font-family:'Roboto', sans-serif;"> <strong>SmartScope</strong>    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('whysmartscope')}}" style="font-family:'Roboto', sans-serif;">Why SmartScope? <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('products')}}">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class = "content">
        <p>{% block content %}</p>
            {% endblock %}
          </div>
          <footer class="footer mt-auto py-3" style="background-color:black">
            <div class="container">

              <div class="row">
                <div class="col-sm-6">
                  <a href="{{url_for('products')}}"><h5 class="text-light" href="#">Products</h5></a>
                  <ul class="list-unstyled">
                    <li><a class="text-light" href="{{url_for('products')}}">Product Page 1</a></li>
                    <li><a class="text-light" href="{{url_for('products')}}">Product Page 2</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <a class="text-light" href="{{url_for('contact')}}"><h5 href="#">Contact</h5></a>
                  <ul class="list-unstyled">
                    <li><a class="text-light" href="{{url_for('contact')}}">Contact Us</a></li>
                  </ul>
                </div>
              
            </div>
          </footer>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>