{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>.btn-custom {
    background-color: #0B8AF0;
    color: black;
    border-radius: 0;

    position: absolute;
    
    left: 50%;
    transform: translate(-50%);
    
    
  }</style>
<h1 style="font-family: 'Roboto', sans-serif;padding-left: 200px;padding-right: 200px;">Unlock The Power of Data Science for Your Business</h1>
<br>

<p style="font-family: 'Roboto', sans-serif; padding-bottom: 50px;">
    Our mission is to help small and medium-sized enterprises (SMEs) leverage the power of data to target their customers more effectively and increase their revenue. We want to empower smaller companies with the same technology being used by larger corporations.
    The difference between us and other targeted marketing solutions such as Google Ads and Facebook Ads is that we give you the tools to target customers in real life, not just online.
 </p>
 <a class="btn btn-custom d-flex justify-content-center align-items-center text-dark" 
    href="{{url_for('products')}}" 
    style="width: 200px; height: 70px; font-family:'Roboto',
    Times, serif; font-size: 20px;">
    Start now</a>

<!-- <svg class="animated" id="freepik_stories-business-plan" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"><style>svg#freepik_stories-business-plan:not(.animated) .animable {opacity: 0;}svg#freepik_stories-business-plan.animated #freepik--background-simple--inject-106 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight;animation-delay: 0s;}svg#freepik_stories-business-plan.animated #freepik--Shadow--inject-106 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;animation-delay: 0s;}svg#freepik_stories-business-plan.animated #freepik--Graphics--inject-106 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;animation-delay: 0s;}svg#freepik_stories-business-plan.animated #freepik--character-1--inject-106 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg#freepik_stories-business-plan.animated #freepik--character-2--inject-106 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}            @keyframes lightSpeedRight {              from {                transform: translate3d(50%, 0, 0) skewX(-20deg);                opacity: 0;              }              60% {                transform: skewX(10deg);                opacity: 1;              }              80% {                transform: skewX(-2deg);              }              to {                opacity: 1;                transform: translate3d(0, 0, 0);              }            }                    @keyframes slideLeft {                0% {                    opacity: 0;                    transform: translateX(-30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }                    @keyframes zoomIn {                0% {                    opacity: 0;                    transform: scale(0.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }        </style><g id="freepik--background-simple--inject-106" style="transform-origin: 250.008202px 231.15004px;" class="animable"><path d="M288.4,392s77.86,3.64,127.11-84.35-8.7-168.93-98.22-186.42S183.17,38.07,103.38,88.34,67.93,406.33,288.4,392Z" style="fill: rgb(64, 123, 255); transform-origin: 250.008202px 231.15004px;" id="elny3c1qb8sq" class="animable"></path><g id="elc3jhqo7qh7"><path d="M288.4,392s77.86,3.64,127.11-84.35-8.7-168.93-98.22-186.42S183.17,38.07,103.38,88.34,67.93,406.33,288.4,392Z" style="fill: rgb(255, 255, 255); opacity: 0.4; transform-origin: 250.008202px 231.15004px;" class="animable"></path></g></g><g id="freepik--Shadow--inject-106" style="transform-origin: 250.009995px 419.589996px;" class="animable"><ellipse cx="250.01" cy="419.59" rx="187.6" ry="11.63" style="fill: rgb(64, 123, 255); transform-origin: 250.01px 419.59px;" id="eli6exfijrtlj" class="animable"></ellipse><g id="elnrxz40b2kj"><ellipse cx="250.01" cy="419.59" rx="187.6" ry="11.63" style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 250.01px 419.59px;" class="animable"></ellipse></g></g><g id="freepik--Graphics--inject-106" style="transform-origin: 262.039986px 225.660049px;" class="animable"><path d="M291.08,113.24l-.54,4.58,2.48.88a20.29,20.29,0,0,0,.65,4.65l-2.15,1.56,1.81,4.25,2.61-.49a20.2,20.2,0,0,0,2.88,3.7l-1.09,2.44,3.7,2.76,2-1.7a19.74,19.74,0,0,0,4.35,1.76l.28,2.65,4.57.55.89-2.49a20.29,20.29,0,0,0,4.65-.65l1.57,2.14L324,138l-.47-2.6a20.23,20.23,0,0,0,3.69-2.88l2.44,1.09,2.76-3.7-1.71-2a19.47,19.47,0,0,0,1.76-4.34l2.65-.28.55-4.58-2.49-.89a19.67,19.67,0,0,0-.65-4.64l2.16-1.57-1.82-4.25-2.6.48a20.28,20.28,0,0,0-2.89-3.69l1.08-2.43L324.73,99l-2,1.71a20.52,20.52,0,0,0-4.32-1.76l-.28-2.65-4.58-.54-.89,2.48a20.14,20.14,0,0,0-4.64.66l-1.57-2.15-4.25,1.81.48,2.6A20.2,20.2,0,0,0,299,104l-2.43-1.08-2.77,3.7,1.71,2a19.83,19.83,0,0,0-1.76,4.35Zm10.63,3.67a11.46,11.46,0,1,1,10,12.73h0a11.46,11.46,0,0,1-10-12.73Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; stroke-width: 1.57112px; transform-origin: 313.104996px 118.294991px;" id="el42ge3zn2pfo" class="animable"></path><path d="M171.61,225.94l-.49,4.15,2.25.8a18.19,18.19,0,0,0,.59,4.21l-2,1.42,1.64,3.85,2.36-.45a18.49,18.49,0,0,0,2.61,3.35l-1,2.21L181,248l1.81-1.55a17.71,17.71,0,0,0,3.94,1.6l.25,2.4,4.15.5.8-2.26a18,18,0,0,0,4.21-.59l1.42,1.95,3.84-1.65L201,246a18.49,18.49,0,0,0,3.35-2.61l2.21,1,2.5-3.34-1.55-1.83a17.92,17.92,0,0,0,1.6-3.93l2.4-.26.49-4.15-2.25-.8a18.19,18.19,0,0,0-.59-4.21l2-1.42-1.65-3.85-2.35.43a18.45,18.45,0,0,0-2.63-3.33l1-2.21L202.1,213l-1.82,1.55a17.81,17.81,0,0,0-3.92-1.59l-.25-2.4-4.15-.5-.8,2.26a18.11,18.11,0,0,0-4.21.59L185.53,211l-3.85,1.64.43,2.36a18.39,18.39,0,0,0-3.35,2.61l-2.21-1-2.5,3.35,1.55,1.82a18.2,18.2,0,0,0-1.6,3.94Zm9.63,3.32a10.38,10.38,0,1,1,9.08,11.54h0a10.39,10.39,0,0,1-9.08-11.54Z" style="fill: rgb(38, 50, 56); transform-origin: 191.560005px 230.505005px;" id="el0yqkuwbwknu" class="animable"></path><path d="M383.08,327.75v-9.41l-5.25-1.19a40.53,40.53,0,0,0-2.44-9.26l4-3.69L374.67,296l-5.16,1.63a41.23,41.23,0,0,0-6.74-6.79l1.63-5.21-8.17-4.71-3.65,3.93a40.52,40.52,0,0,0-9.24-2.51l-1.2-5.3h-9.41l-1.2,5.26a40.15,40.15,0,0,0-9.26,2.44l-3.69-4-8.15,4.7,1.59,5.16a41.17,41.17,0,0,0-6.79,6.73l-5.2-1.61-4.7,8.14,3.94,3.67a40.57,40.57,0,0,0-2.51,9.23l-5.3,1.21v9.41l5.25,1.2a41.11,41.11,0,0,0,2.44,9.25l-4,3.7,4.71,8.17,5.15-1.59a40.79,40.79,0,0,0,6.76,6.76l-1.61,5.21,8.18,4.71,3.65-4a40.27,40.27,0,0,0,9.19,2.52l1.2,5.3h9.42l1.19-5.25a41.17,41.17,0,0,0,9.27-2.46l3.69,4,8.17-4.71-1.59-5.15a40.79,40.79,0,0,0,6.79-6.73l5.2,1.61,4.71-8.18-3.95-3.66a41.06,41.06,0,0,0,2.52-9.24Zm-16.27-4.86a29.54,29.54,0,1,1-29.54-29.54h0a29.54,29.54,0,0,1,29.54,29.54Z" style="fill: rgb(255, 255, 255); transform-origin: 337.269974px 322.825058px;" id="el8w455fsmzgb" class="animable"></path><rect x="195.34" y="94.15" width="24.24" height="5.59" style="fill: rgb(64, 123, 255); transform-origin: 207.46px 96.945px;" id="elt33j8md0bl" class="animable"></rect><rect x="195.34" y="102.23" width="15.93" height="5.59" style="fill: rgb(64, 123, 255); transform-origin: 203.305px 105.025px;" id="elnvgmu4yk5wi" class="animable"></rect><rect x="195.34" y="110.31" width="9.17" height="5.59" style="fill: rgb(64, 123, 255); transform-origin: 199.925px 113.105px;" id="eltz2bpipzdhq" class="animable"></rect><g id="els9njn489bxb"><rect x="195.34" y="94.15" width="24.24" height="5.59" style="opacity: 0.2; isolation: isolate; transform-origin: 207.46px 96.945px;" class="animable"></rect></g><g id="elwnka4e21x7m"><rect x="195.34" y="102.23" width="15.93" height="5.59" style="opacity: 0.2; isolation: isolate; transform-origin: 203.305px 105.025px;" class="animable"></rect></g><g id="elmlo2yfzocqi"><rect x="195.34" y="110.31" width="9.17" height="5.59" style="opacity: 0.2; isolation: isolate; transform-origin: 199.925px 113.105px;" class="animable"></rect></g><rect x="153.25" y="156.07" width="8.22" height="16.84" style="fill: rgb(64, 123, 255); transform-origin: 157.36px 164.49px;" id="elfryf2ou3z84" class="animable"></rect><rect x="165.12" y="161.86" width="8.22" height="11.06" style="fill: rgb(64, 123, 255); transform-origin: 169.23px 167.39px;" id="elptciroerns" class="animable"></rect><rect x="177" y="166.55" width="8.22" height="6.37" style="fill: rgb(64, 123, 255); transform-origin: 181.11px 169.735px;" id="elcqdac0l66k" class="animable"></rect><g id="elr886z9ufew"><rect x="153.25" y="156.07" width="8.22" height="16.84" style="opacity: 0.2; isolation: isolate; transform-origin: 157.36px 164.49px;" class="animable"></rect></g><g id="ela35xh1akx2q"><rect x="165.12" y="161.86" width="8.22" height="11.06" style="opacity: 0.2; isolation: isolate; transform-origin: 169.23px 167.39px;" class="animable"></rect></g><g id="eloxujbvptshl"><rect x="177" y="166.55" width="8.22" height="6.37" style="opacity: 0.2; isolation: isolate; transform-origin: 181.11px 169.735px;" class="animable"></rect></g><path d="M250.94,185.66H151.41A10.39,10.39,0,0,1,141,175.27V93.1a10.41,10.41,0,0,1,10.39-10.39h99.53A10.4,10.4,0,0,1,261.33,93.1v82.17A10.39,10.39,0,0,1,250.94,185.66Zm-99.53-102a9.5,9.5,0,0,0-9.48,9.48v82.17a9.5,9.5,0,0,0,9.48,9.48h99.53a9.5,9.5,0,0,0,9.48-9.48V93.1a9.5,9.5,0,0,0-9.48-9.48Z" style="fill: rgb(38, 50, 56); transform-origin: 201.164986px 134.185005px;" id="el4z58r32nb8" class="animable"></path><rect x="214.17" y="156.53" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 231.915px 156.985px;" id="el25bod42b6al" class="animable"></rect><rect x="214.17" y="160.34" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 231.915px 160.795px;" id="elfldw4vhx17" class="animable"></rect><rect x="214.17" y="164.14" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 231.915px 164.595px;" id="elxi6ejgr0t1f" class="animable"></rect><rect x="214.17" y="167.94" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 231.915px 168.395px;" id="el7ydpo6wbsyf" class="animable"></rect><rect x="214.17" y="171.74" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 231.915px 172.195px;" id="elznwmvlgrl1c" class="animable"></rect><rect x="152.16" y="94.53" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 169.905px 94.985px;" id="el38ntufsar45" class="animable"></rect><rect x="152.16" y="98.33" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 169.905px 98.785px;" id="elmdvueupplj8" class="animable"></rect><rect x="152.16" y="102.13" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 169.905px 102.585px;" id="el4o8b17bycym" class="animable"></rect><rect x="152.16" y="105.93" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 169.905px 106.385px;" id="elrj0dewafy4d" class="animable"></rect><rect x="152.16" y="109.73" width="35.49" height="0.91" style="fill: rgb(38, 50, 56); transform-origin: 169.905px 110.185px;" id="elvnsy4vccya" class="animable"></rect><path d="M242.65,125.23l6.36,3.34-.73-17.94-15.17,9.6,6.36,3.33-4.79,9.11h0a3.78,3.78,0,0,0-2.33.8l-8.45-3.91v-.05a3.88,3.88,0,0,0-7.75-.38h0a2.41,2.41,0,0,0,0,.38,4.05,4.05,0,0,0,.35,1.61l-11,12a3.7,3.7,0,0,0-1.09-.17,2.76,2.76,0,0,0-.57.06L188,122.9a3.87,3.87,0,0,0-7.08-3.11,3.71,3.71,0,0,0-.33,1.54,4.29,4.29,0,0,0,.2,1.17L162.74,141a3.87,3.87,0,1,0,2.31,5h0a4,4,0,0,0,.23-1.33,3.38,3.38,0,0,0-.13-.94L183.4,125a3.53,3.53,0,0,0,1.11.18,3.42,3.42,0,0,0,.71-.07l15.75,20a3.91,3.91,0,1,0,6.88,3.73,3.83,3.83,0,0,0,.47-1.65,2.54,2.54,0,0,0,0-.39,4,4,0,0,0-.2-1.19l11.26-12.26a3.57,3.57,0,0,0,.65.06,3.87,3.87,0,0,0,2.16-.66l8.6,4a3.87,3.87,0,1,0,7.73-.37,3.83,3.83,0,0,0-.69-2Z" style="fill: rgb(38, 50, 56); transform-origin: 203.282833px 130.759392px;" id="eleg022flzxe" class="animable"></path><g id="freepik--chart-1--inject-2--inject-106" style="transform-origin: 282.174995px 227.770012px;" class="animable"><path d="M251.17,196.27a5.91,5.91,0,0,0-5.9,5.91v51.21a5.9,5.9,0,0,0,5.9,5.9h62a5.91,5.91,0,0,0,5.91-5.9V202.15a5.91,5.91,0,0,0-5.91-5.9Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 282.174995px 227.770012px;" id="elfe8ixq035m" class="animable"></path><rect x="250.16" y="203.25" width="4.71" height="0.63" style="fill: rgb(38, 50, 56); transform-origin: 252.515px 203.565px;" id="eluuteskdoyp" class="animable"></rect><rect x="250.16" y="208.39" width="4.71" height="0.63" style="fill: rgb(38, 50, 56); transform-origin: 252.515px 208.705px;" id="eliwsbba5ali" class="animable"></rect><rect x="250.16" y="213.53" width="4.71" height="0.63" style="fill: rgb(38, 50, 56); transform-origin: 252.515px 213.845px;" id="elpe4peppxn0d" class="animable"></rect><rect x="250.16" y="218.68" width="4.71" height="0.63" style="fill: rgb(38, 50, 56); transform-origin: 252.515px 218.995px;" id="elnsl5k48hwp" class="animable"></rect><rect x="249.98" y="208.39" width="4.71" height="0.63" style="fill: rgb(38, 50, 56); transform-origin: 252.335px 208.705px;" id="ely1e534x7aq" class="animable"></rect><rect x="250.16" y="223.82" width="4.71" height="0.63" style="fill: rgb(38, 50, 56); transform-origin: 252.515px 224.135px;" id="elzdyjksl8p6d" class="animable"></rect></g><path d="M285.76,251.64a22.59,22.59,0,1,0-22.12-23,22.58,22.58,0,0,0,22.12,23Zm.79-38.54a16,16,0,1,1-16.32,15.67A16,16,0,0,1,286.55,213.1Z" style="fill: rgb(64, 123, 255); transform-origin: 286.226131px 229.054825px;" id="elfypuubuwnj" class="animable"></path><g id="elgq0e1hcqhba"><path d="M285.76,251.64a22.59,22.59,0,1,0-22.12-23,22.58,22.58,0,0,0,22.12,23Zm.79-38.54a16,16,0,1,1-16.32,15.67A16,16,0,0,1,286.55,213.1Z" style="opacity: 0.2; isolation: isolate; transform-origin: 286.226131px 229.054825px;" class="animable"></path></g><path d="M270,245.22a23,23,0,0,0,32.53.14.48.48,0,0,0,0-.64L297.84,240a.45.45,0,0,0-.32-.14.57.57,0,0,0-.33.13,15.36,15.36,0,0,1-11.28,4.51l-1.11,0a15.45,15.45,0,0,1-9.21-3.71c-.23-.21-.47-.42-.69-.64a15.79,15.79,0,0,1-1.75-20.27.41.41,0,0,0,.05-.09c.1-.14.21-.26.33-.4a15.47,15.47,0,0,1,13-5.86.45.45,0,0,0,.46-.44h0l.13-6.63a.46.46,0,0,0-.44-.47h0A23,23,0,0,0,270,245.22Z" style="fill: rgb(38, 50, 56); transform-origin: 282.97261px 229.00757px;" id="el7oa84uxaich" class="animable"></path><path d="M286.69,206a23.51,23.51,0,1,1-.05,0Zm-.92,45.17a22.14,22.14,0,1,0-21.68-22.58h0A22.15,22.15,0,0,0,285.77,251.18Zm.79-38.54a16.42,16.42,0,1,1-16.75,16.08,16.42,16.42,0,0,1,16.75-16.08Zm-.65,31.91a15.51,15.51,0,1,0-15.19-15.82h0a15.51,15.51,0,0,0,15.19,15.81Z" style="fill: rgb(38, 50, 56); transform-origin: 286.665028px 229.509995px;" id="elfdgzjg6irt" class="animable"></path><line x1="169.67" y1="278.13" x2="169.67" y2="338.79" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 169.669998px 308.460007px;" id="elwb4e9xf96zh" class="animable"></line><rect x="174.27" y="301.02" width="5.15" height="34.73" style="fill: rgb(38, 50, 56); transform-origin: 176.845px 318.385px;" id="elbhe32aw41jw" class="animable"></rect><rect x="181.63" y="315.19" width="5.15" height="20.55" style="fill: rgb(64, 123, 255); transform-origin: 184.205px 325.465px;" id="ela3vgi30gicj" class="animable"></rect><rect x="190.28" y="289.79" width="5.15" height="45.96" style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 192.855px 312.77px;" id="elybv3cqa7bil" class="animable"></rect><rect x="204.64" y="283.16" width="5.15" height="52.58" style="fill: rgb(38, 50, 56); transform-origin: 207.215px 309.45px;" id="elx5ouipeo2m" class="animable"></rect><rect x="212.01" y="322.74" width="5.15" height="13.01" style="fill: rgb(64, 123, 255); transform-origin: 214.585px 329.245px;" id="eli6m9lnb8zb" class="animable"></rect><rect x="220.66" y="304.7" width="5.15" height="31.05" style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 223.235px 320.225px;" id="elv3qynk7yz6b" class="animable"></rect><rect x="241.64" y="309.45" width="5.15" height="26.29" style="fill: rgb(38, 50, 56); transform-origin: 244.215px 322.595px;" id="el6omr526e3m6" class="animable"></rect><rect x="249.01" y="289.05" width="5.15" height="46.69" style="fill: rgb(64, 123, 255); transform-origin: 251.585px 312.395px;" id="elp20t4vxr3s" class="animable"></rect><rect x="257.66" y="299.36" width="5.15" height="36.38" style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 260.235px 317.55px;" id="eliw0ulhflehs" class="animable"></rect><line x1="164.14" y1="327.71" x2="167.02" y2="327.71" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 327.709991px;" id="el5w2n9lnh9fg" class="animable"></line><line x1="164.14" y1="320.22" x2="167.02" y2="320.22" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 320.220001px;" id="elpdmfvs62jek" class="animable"></line><line x1="164.14" y1="312.74" x2="167.02" y2="312.74" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 312.73999px;" id="elxdqddsf7j1p" class="animable"></line><line x1="164.14" y1="305.25" x2="167.02" y2="305.25" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 305.25px;" id="elvae7j47oi8a" class="animable"></line><line x1="164.14" y1="297.76" x2="167.02" y2="297.76" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 297.76001px;" id="el2kidoh4u5l9" class="animable"></line><line x1="164.14" y1="290.27" x2="167.02" y2="290.27" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 290.269989px;" id="el3a3vob0whwr" class="animable"></line><line x1="164.14" y1="282.78" x2="167.02" y2="282.78" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 165.580002px 282.779999px;" id="elb0280zs92e7" class="animable"></line><line x1="166.26" y1="335.75" x2="266.42" y2="335.75" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.879169px; transform-origin: 216.340004px 335.75px;" id="elf8rahp4bmdu" class="animable"></line><g id="els5wf5j72odp"><rect x="181.63" y="315.19" width="5.15" height="20.55" style="opacity: 0.3; transform-origin: 184.205px 325.465px;" class="animable"></rect></g><g id="elpagnixo45g"><rect x="212.01" y="322.74" width="5.15" height="13.01" style="opacity: 0.3; transform-origin: 214.585px 329.245px;" class="animable"></rect></g><g id="eldvpnx1exffh"><rect x="249.01" y="289.05" width="5.15" height="46.69" style="opacity: 0.3; transform-origin: 251.585px 312.395px;" class="animable"></rect></g><path d="M160.05,269.71a6.52,6.52,0,0,0-6.51,6.51v59.51a6.53,6.53,0,0,0,6.51,6.52H270.5a6.54,6.54,0,0,0,6.52-6.52V276.2a6.53,6.53,0,0,0-6.52-6.52Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 215.279999px 305.965027px;" id="elsobymjiyflh" class="animable"></path></g><g id="freepik--character-1--inject-106" style="transform-origin: 129.247204px 252.357094px;" class="animable"><path d="M72.65,402.74s2.31,15.42-3.28,17-9.47-.5-10.17-2.81,4.25-18.81,4.25-18.81Z" style="fill: rgb(255, 255, 255); transform-origin: 66.127586px 409.206331px;" id="eliza8y8bhuqd" class="animable"></path><path d="M169.88,406.15l24.3,5.76s1.84,1,1.64,2.65-11.29,5.88-14.4,6.41-21.06,2.87-23.61.68S160.65,402,160.65,402Z" style="fill: rgb(255, 255, 255); transform-origin: 176.48008px 412.284799px;" id="elhnimpxof5be" class="animable"></path><path d="M125.88,124.92s3.42,5.16,3.47,7.77-.27,5.59,1.33,7.13,2.83,3.22,2.17,4-1.93,2.3-1.93,2.3,1.65,8.79-.49,10.38-8.57,0-8.57,0v5.68s-9.14-3-15.45-2.44l-1.12-12.17S119,121.21,125.88,124.92Z" style="fill: rgb(255, 255, 255); transform-origin: 119.160965px 143.371073px;" id="el34ls2e0svac" class="animable"></path><path d="M182.1,160.88s-.82-6.24,2.22-10c0,0-3.64-.62-3.2-1.94s6,.41,6,.41l-1.5-3s-5.25-1.74-4.6-3.37,8.35,2.38,8.35,2.38-4.57-3.82-3.93-5.41,5.29-1.56,7.77,6.68l1.26-1.57s.45-9.38,1.74-9.89c0,0,2,1.1,2,6.49,0,0,2,2.41.73,4.45s-4.26,6.63-6.8,8.35-2.53,8.43-2.53,8.43Z" style="fill: rgb(255, 255, 255); transform-origin: 190.163239px 149.030006px;" id="eloajesr2nn1" class="animable"></path><path d="M101.62,109.59l1.15-1.54s12.87-5.74,12.55-7.53-7.61.68-9-.27c0,0,1.33-16.94,0-17.49s-2.81,7.95-2.81,7.95-1.87-8.72-3.31-8.47-.84,9-.84,9-2.75-5.61-3.82-5.09.53,7.36.53,7.36-2-2.35-2.8-1.64A26.51,26.51,0,0,0,96.12,102l-2.78,4.7Z" style="fill: rgb(255, 255, 255); transform-origin: 104.297945px 95.912362px;" id="el4o3htuj7czu" class="animable"></path><path d="M180.71,160.92l8.87,1.24s-6.49,55-8.4,61.79-3.63,11.67-10.15,12-29.75-19.2-29.75-19.2l-1.08,27,1.51,11.2s-28.41,14.93-57.3,1.94l.65-13.14L74.65,183.65l-8.19-28.54L92.89,105l9.58,5-16.9,45.61,4.73,15.23,5.29-2.12,5.85-7.46s9.92-5.15,22.47,2l2,6.26s14.72,1.11,39.57,35.56Z" style="fill: rgb(64, 123, 255); transform-origin: 128.02px 183.600006px;" id="elz3m8szax2e" class="animable"></path><g id="el88sn6nt60gx"><path d="M117.3,160.92l1.12,7.7S126.68,174.1,130,176c0,0,8.12,51.28,2.11,61.37l-6.33,9.91s6.47,0,9.45-4.53c0,0-3.71,12.38-13.33,15.71,0,0,14.77-1.54,19.85-3.5l-1.51-11.2,2.43-62.45s2.29-4.18-16.75-11.67l-2.81-6.75Z" style="opacity: 0.2; transform-origin: 130.02805px 209.689995px;" class="animable"></path></g><path d="M125.88,125.62s3.1,4.54,3.47,7.07-.73,5.32,1.33,7.13,3,3,2.17,4-1.93,2.3-1.93,2.3.84,8.57-.49,10.38-8.57,0-8.57,0v5.68" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 127.505431px 143.900005px;" id="elkran15euz5p" class="animable"></path><path d="M121.86,145.74s-2.9-7.49-5.07-5.68-.24,11.71,5.07,9.54" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 118.887394px 144.843527px;" id="elwvtt9eeom6c" class="animable"></path><path d="M121.07,144s3.45-.28,1.27-8.37,2.54-7,7.61-9.3,6.28-6.52,5.19-9.05-2.9-3.87-9.3-2.66c0,0-7-8.09-13.76.85,0,0-15.22-.24-19.32,7s1.33,25.72,9.3,31.88,15.76,1.23,17.38-4.56c0,0-5.43-2.93-2.65-9.69C116.79,140.06,119.32,139.16,121.07,144Z" style="fill: rgb(38, 50, 56); transform-origin: 113.433243px 134.228392px;" id="el0xph2kgp35bq" class="animable"></path><path d="M73.86,179.09s36.83-26.71,68.93,0l-2.59,64.62,1.51,11.2s-27.14,12.71-57.3,1.94l.65-13.14Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 108.325005px 214.19981px;" id="elz7iwgjbq4rj" class="animable"></path><path d="M95.1,169.38l6.34-8.08s12.43-4.3,22.47,2l2,6.26" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 110.505001px 164.713753px;" id="ely42war2ny0e" class="animable"></path><line x1="142.79" y1="179.09" x2="174.86" y2="215.97" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 158.824997px 197.529999px;" id="el8p5shmhkhf2" class="animable"></line><path d="M141.31,216s21.25,19.77,29.72,20,9.88-10,9.88-10l8.67-63.8-8.87-1.24-15.26,44.23" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 165.445px 198.481907px;" id="el9u61t5h6dd4" class="animable"></path><path d="M189.43,162s1.11-7.21,4-8.85,6.32-8,5.22-9.83-4.46,4.12-7.49,5.26-5.49,6.74-5.91,9.17" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 192.05523px 152.486508px;" id="el8pm8tcletmk" class="animable"></path><path d="M197.72,143.06s0-8.33-1.53-7.94-1.74,10.94-1.74,10.94" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 196.084999px 140.583361px;" id="elc6mhotl9nbi" class="animable"></path><path d="M193.33,147.13s-1-4.67-3.75-6.95-4.47-1.05-4.16-.28,5,7,4.89,9.12" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 189.357016px 143.945073px;" id="el4mk59csvz2v" class="animable"></path><path d="M188.57,144.82s-7.55-3.46-7.57-1.39,4.6,2.87,4.6,2.87l1.5,3s-6.36-2-6-.41,3.2,1.94,3.2,1.94-3.09,3.06-2.22,10" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 184.784975px 151.799962px;" id="el8hm0ni1wigw" class="animable"></path><path d="M137.34,255.66l1.93,13.52s17.77,53.31,20.47,63.73,4.25,34,5,44.81,7,29,7,29-.77,7.34-13.9,6.18c0,0-5.41-21.63-11.2-34.38S140,346.43,140,346.43l-28.2-51.76s-5.77,30.14-9.65,41.33c-4,11.54-31.27,75.57-29.36,71.08,0,0-3.86,2.32-12-3.48,0,0,5.79-19.31,7.33-29.74s9.66-34.38,9.66-34.38,1.93-45.19,5-59.1c0,0-2-15.32,2.27-26.14A91.92,91.92,0,0,0,137.34,255.66Z" style="fill: rgb(38, 50, 56); transform-origin: 116.264996px 333.632156px;" id="el2p6wkmb7odi" class="animable"></path><polyline points="96.35 285.59 109.01 289.27 110.85 293.76" style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; transform-origin: 103.599998px 289.675003px;" id="el24fpjzzksua" class="animable"></polyline><path d="M158.12,411.32s-1.71,8.57-.31,10.33c.74.92,2.94.75,4,.77,2.44.05,4.89-.11,7.33-.27,4.88-.32,9.88-.27,14.59-1.78A46.41,46.41,0,0,0,195,415.26c1.92-1.28,0-3.35,0-3.35l-23.25-5.22" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 176.556215px 414.559651px;" id="elqhqhlxhs0ph" class="animable"></path><path d="M158,418.63s26.13,4.29,37-6.72" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 176.5px 415.681471px;" id="eljlvfgzjd3q" class="animable"></path><path d="M61.8,402.74s-3,10.29-2.56,13.53,3.69,4,7.49,3.91,5.36-1.79,5.92-4.36,0-10.88,0-10.88" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 66.047405px 411.463452px;" id="ele6ilbem2lyr" class="animable"></path><line x1="59.2" y1="414.7" x2="72.65" y2="415.82" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 65.925001px 415.26001px;" id="eljf55j827io" class="animable"></line><path d="M94.31,105.32c1.14-2.08,1.81-3.35,1.81-3.35S92.41,93,93.34,91.9s3.08,2,3.08,2-2.2-7.13-.81-7.74,3.87,6,3.87,6-.65-9.55.79-10,3.17,9.08,3.17,9.08,1.86-8.48,3-8.56,0,17.49,0,17.49c2.3,1.13,9.06-1.63,9,.6s-13,7.36-13,7.36a5.78,5.78,0,0,0-.59.94" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 104.315393px 95.607281px;" id="eljst1h9j2p1i" class="animable"></path><polyline points="73.86 179.09 66.46 155.11 92.89 105.03 102.47 110.04 85.57 155.65 90.3 170.88" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 84.465px 142.059998px;" id="elwq9ndk0i7r" class="animable"></polyline><path d="M74.72,151.32s9.48-.08,10.85,4.33a19,19,0,0,0-11.71,3.24" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 79.714996px 155.104969px;" id="el4pzokjq0pza" class="animable"></path><line x1="106.04" y1="160.26" x2="106.04" y2="153.31" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 106.040001px 156.784996px;" id="elp69radg4rsp" class="animable"></line><g id="elqcdl2kaflye"><path d="M142.63,198.43,145,214.2s1.94-10.29,3.15-10.29,0,12.06,0,12.06,19.88,18,28.48,18.1c0,0-4.78,3.36-9.57.86s-25.79-19-25.79-19Z" style="opacity: 0.2; transform-origin: 158.949989px 217.142454px;" class="animable"></path></g><g id="elrc6lggx5hgf"><path d="M100.77,109.15,82.59,153.31s-6.33-.1-8.73,5.58l9.72-1.74,3.27,15,3.45-1.31-4.73-15.23L102.47,110Z" style="opacity: 0.2; transform-origin: 88.165001px 140.649998px;" class="animable"></path></g></g><g id="freepik--character-2--inject-106" style="transform-origin: 369.532043px 263.634003px;" class="animable"><polygon points="351.31 186.81 344.15 171.52 316.01 190.11 339.23 231.25 357.34 220.97 351.31 186.81" style="fill: rgb(255, 255, 255); transform-origin: 336.675003px 201.385002px;" id="el110osgdglbtn" class="animable"></polygon><path d="M374.5,319.06s4.55,12.63,5.22,18.78-1.38,32.05-.94,39.19,4.3,28.45,4.3,28.45-18.93,13.76-24.94,9.33c0,0,13.34-10.8,14.69-15.1l-4.32-29.19L364.22,336s-1.09-7.21-2.61-10.92-1.29-11.58-1.29-11.58Z" style="fill: rgb(255, 255, 255); transform-origin: 370.609985px 364.594391px;" id="el0jbyi617kqj" class="animable"></path><path d="M374.1,317.94s4.92,13.3,6.07,22.85S377.86,372,379,382.43s2.31,16.2,4.33,21.69l-1,16.11h-2.59l-1-9.14s-4.06-1.69-6.52,4.16-11.55,6.62-15.86,3.23c0,0,0-2.62,3.24-4.93s11.7-9.53,13.24-13.84c0,0-4.62-30-5.7-39.72s-2.77-27.39-4.93-33.09-2.15-13.85-2.15-13.85" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 369.845001px 366.77174px;" id="elb2owrxkp33d" class="animable"></path><path d="M382.34,401.1S369.65,414.9,359,414.81" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 370.669998px 407.955221px;" id="el2jv3s204m5o" class="animable"></path><path d="M358.14,414.81a11.26,11.26,0,0,0,5.2-.65c2.87-1,13.2-6,18.28-12.31l1.56,1.77-.82,16.24-2.61.37-1-9.14s-3.34-1.53-5.49,2.23-3.7,6.34-7.46,7.17-9.43-2-9.43-2S355.38,417,358.14,414.81Z" style="fill: rgb(38, 50, 56); transform-origin: 369.688663px 411.246218px;" id="elrei9hpd7lsq" class="animable"></path><path d="M383.35,319.49a115.94,115.94,0,0,0,4.34,12.91c2.27,5.21,21.88,57.9,21.88,57.9s1.49,28.52,9.84,28.43-.33-19.93-.33-19.93L414,387.93s-1.94-31.93-4.34-43.67l-10.22-27.53Z" style="fill: rgb(255, 255, 255); transform-origin: 403.193731px 367.730103px;" id="el75wqyj3s0tp" class="animable"></path><path d="M399.55,317.65s8.39,19.09,10.12,26.61,3.47,41.35,4.34,43.67,14.75,26.89,6.36,31.81S410,391.4,410,391.4s-19.37-53.8-22.27-59-6.07-20.25-6.07-20.25Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 402.357042px 366.193283px;" id="elalgl8ozrim" class="animable"></path><path d="M422,407.13s-.58,6.66-2.78,7.6-7.06-6.57-7.06-6.57" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 417.080002px 410.970716px;" id="elxelskt8jwp" class="animable"></path><path d="M412.18,409.31s3,11.36,7,10.88,4.72-6.79,2.83-11.66c0,0-.67,5-2.78,6.2C417.1,414.76,412.18,409.31,412.18,409.31Z" style="fill: rgb(38, 50, 56); transform-origin: 417.593338px 414.367397px;" id="el6prt3jpk0gn" class="animable"></path><path d="M376.77,218.35s10.11,13.8,17.12,36,6.29,64.72,6.29,64.72-26.09,8.39-51.38-2.27L353.43,221S369.7,221.3,376.77,218.35Z" style="fill: rgb(38, 50, 56); transform-origin: 374.500444px 270.27874px;" id="el2cxop3tq79b" class="animable"></path><path d="M363.71,118.27s-7.86,7.36-8.78,12.18a37.81,37.81,0,0,1-3.62,9.67,7.05,7.05,0,0,0,3.53,2.76s.51,9.87,3.38,10.63l6.86-1.8.73,4.23,9.84-3.74v-5.7l7.5-4.9-2.67-12.81-12.2-5.7Z" style="fill: rgb(255, 255, 255); transform-origin: 367.229996px 137.104992px;" id="elxj4lpj2ruvh" class="animable"></path><path d="M353.38,220.23l-.87-13.84s-6.4-12-4.37-16.36c2.24-4.79,15.7-22.53,15.7-22.53l-1.32-9.68,18.86-8.08.9,8.08L380,159.51l2.53,5.42s.16-1.61,4.54,6.56,20.88,37.24,22.18,42.82-25.66,25.24-34.76,29.88c0,0-1.05-2.25-11.86,6-2.75-.48-6.55-2.95-7.36-4.48s3.11-5.17,3.11-5.17,2.36-4.46,6.53-.89h4.44L394.76,216l-12.88-18.85-5.11,21.17S360.24,223.34,353.38,220.23Z" style="fill: rgb(255, 255, 255); transform-origin: 378.518822px 199.965004px;" id="ell0ujc08ztf" class="animable"></path><polygon points="362.52 157.82 363.87 167.71 382.28 157.82 381.38 149.74 362.52 157.82" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 372.399994px 158.725006px;" id="el6ux9jx2w78h" class="animable"></polygon><path d="M363.87,167.71s-16.75,20.49-16.3,24.53,4.94,14.15,4.94,14.15l.92,14.6s13.55.37,23.34-2.64l5.11-21.17" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 364.720549px 194.35721px;" id="el0p25rq9rq11" class="animable"></path><path d="M394.76,216l-25.95-39.12s-2.55-9,3.59-12.21,11.48.86,13.39,3,22.51,41.83,23.47,46.6-20.8,23.85-33.39,29c0,0-5.73,3.44-5.73-3.62Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 388.787867px 203.794144px;" id="elwyeegug2zs" class="animable"></path><line x1="382.28" y1="164.93" x2="379.85" y2="159.13" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 381.065002px 162.029999px;" id="elu5z04r9o5r9" class="animable"></line><path d="M370.14,239.69h-5.22s-4.07-3.64-6,0-4.37,4.36-3.64,6.06,4.91,5.09,7.36,4.48S372,244,372,244" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 363.573816px 244.187366px;" id="elsjs35dy143" class="animable"></path><path d="M361.83,120.86s-6.13,5.36-6.81,8.33-.39,8-3.71,10.93c0,0,.17,2.4,3.53,2.76,0,0,1.72,9.47,3.38,10.63s11.82-4.08,15.8-6.24a5.27,5.27,0,0,0,2.09-2.91" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 363.710007px 137.267782px;" id="elt5x7q6a762p" class="animable"></path><path d="M357.07,145.77a7.72,7.72,0,0,0,4.76-2.81" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 359.449997px 144.364998px;" id="elky3eogqkwr" class="animable"></path><path d="M357.07,132.07s2.42-1.41,3.75.93" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 358.945007px 132.324444px;" id="elcatc6qww6d" class="animable"></path><path d="M358.73,137.1c0,.81-.23,1.47-.6,1.49s-.71-.62-.75-1.42.23-1.48.6-1.5S358.69,136.29,358.73,137.1Z" style="fill: rgb(38, 50, 56); transform-origin: 358.053037px 137.130011px;" id="elw2d3ub1gq2b" class="animable"></path><line x1="365.08" y1="151.71" x2="365.89" y2="156.38" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 365.485001px 154.045006px;" id="el8sljm9897zx" class="animable"></line><path d="M372.94,136.48s1.5-2.91,3.17-1.21,4.84,9.56-3.71,7.69c0,0-.57,4.8,3.71,6s12.41-5.42,12.68-16.71-10.63-18.91-16.39-16.73c0,0-8.35-13.09-16.63-7.51s-2.7,14.17-4.46,16.11-5.52.12-5.64,5.33,8.59,4.68,8.59,4.68l1.05-5.74,7.21-7.53s-1.7,5.44,1.19,10.17C366.32,135.29,372.94,136.48,372.94,136.48Z" style="fill: rgb(38, 50, 56); transform-origin: 367.231867px 127.862568px;" id="elh58yvpwajw8" class="animable"></path><path d="M388.79,132.25s4,.9,3.56,6.31-9.47,18.71-8.79,26.37l23.31,43.44s10.49-2,10-12.8-13.29-19.9-10.82-27.86,12.17-28.23-1.57-39.85-35.16,6.19-35.16,6.19l10.49-3.38Z" style="fill: rgb(38, 50, 56); transform-origin: 393.10331px 166.147064px;" id="el1qg5zrqi95u" class="animable"></path><polyline points="350.41 185.92 344.15 171.52 316.01 190.11 339.23 231.25 353.31 223.5" style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 334.660004px 201.385002px;" id="elqkkdasv6y4a" class="animable"></polyline><path d="M324.77,210.46s-1.52-3.14.51-4.87,9-6.86,9-5.6a2.2,2.2,0,0,1-.48,1.73c-2,2.68-6.79,7-6.48,7.35,0,0,8.74-5.8,9.58-5.25.21.14.09.89-.64,1.62a75.63,75.63,0,0,1-7.57,5.92s9.22-3.57,10.41-3c.34.16.27.68-.8,1.33a84.1,84.1,0,0,1-8.25,3.92l2.31,3.86S328,218.23,324.77,210.46Z" style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 331.752465px 208.641688px;" id="eltnzpgt3d45" class="animable"></path><line x1="375.01" y1="145.77" x2="375.65" y2="152.2" style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 375.330002px 148.985001px;" id="elysgxh9n05a" class="animable"></line></g><defs>     <filter id="active" height="200%">         <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>                <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>        <feMerge>            <feMergeNode in="OUTLINE"></feMergeNode>            <feMergeNode in="SourceGraphic"></feMergeNode>        </feMerge>    </filter>    <filter id="hover" height="200%">        <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>                <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>        <feMerge>            <feMergeNode in="OUTLINE"></feMergeNode>            <feMergeNode in="SourceGraphic"></feMergeNode>        </feMerge>            <feColorMatrix type="matrix" values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "></feColorMatrix>    </filter></defs></svg> -->

<svg class="animated" id="freepik_stories-online-world" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" version="1.1" xmlns:svgjs="http://svgjs.com/svgjs"><style>svg#freepik_stories-online-world:not(.animated) .animable {opacity: 0;}svg#freepik_stories-online-world.animated #freepik--background-simple--inject-98 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;animation-delay: 0s;}svg#freepik_stories-online-world.animated #freepik--Device--inject-98 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg#freepik_stories-online-world.animated #freepik--Lines--inject-98 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;animation-delay: 0s;}svg#freepik_stories-online-world.animated #freepik--earth-globe--inject-98 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;}            @keyframes slideDown {                0% {                    opacity: 0;                    transform: translateY(-30px);                }                100% {                    opacity: 1;                    transform: translateY(0);                }            }                    @keyframes zoomIn {                0% {                    opacity: 0;                    transform: scale(0.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }                    @keyframes slideLeft {                0% {                    opacity: 0;                    transform: translateX(-30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }                    @keyframes slideUp {                0% {                    opacity: 0;                    transform: translateY(30px);                }                100% {                    opacity: 1;                    transform: inherit;                }            }        </style><g id="freepik--background-simple--inject-98" style="transform-origin: 255.637154px 226.65934px;" class="animable"><path d="M431.8,261.49c4.11-27,1.17-54.8-6-81-6.44-23.51-14.56-47.65-33.46-64.16-22.9-20-51.49-22.61-80.51-19.22C254.4,103.8,238,79.2,195.51,80.69s-79.76,19.38-91.69,55.91,6.71,74.55-2.24,96.16S67.29,276,82.2,307.31,129.91,363.22,206,369.18s142.38,8.95,185.62-30.56C415,317.21,427.42,290.23,431.8,261.49Z" style="fill: #16276B; transform-origin: 255.637154px 226.65934px;" id="el0vmavuwz1i5" class="animable"></path><g id="eli731fv2fbcn"><path d="M431.8,261.49c4.11-27,1.17-54.8-6-81-6.44-23.51-14.56-47.65-33.46-64.16-22.9-20-51.49-22.61-80.51-19.22C254.4,103.8,238,79.2,195.51,80.69s-79.76,19.38-91.69,55.91,6.71,74.55-2.24,96.16S67.29,276,82.2,307.31,129.91,363.22,206,369.18s142.38,8.95,185.62-30.56C415,317.21,427.42,290.23,431.8,261.49Z" style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 255.637154px 226.65934px;" class="animable" id="elcrhduedhs9j"></path></g></g><g id="freepik--Device--inject-98" style="transform-origin: 254.250931px 372.292313px;" class="animable"><path d="M394.05,350l.07-8.2L292.07,317l-177.7,59.46V385a1.74,1.74,0,0,0,.39,1.13,2.64,2.64,0,0,0,1.17.79l99.9,41.23a10.84,10.84,0,0,0,2.54.65,17.54,17.54,0,0,0,5.84-.15,11.64,11.64,0,0,0,2.56-.79L392.86,352a1.66,1.66,0,0,0,.84-.66A2,2,0,0,0,394.05,350Z" style="fill: rgb(255, 255, 255); transform-origin: 254.244858px 372.98782px;" id="elck7ykfqwwd" class="animable"></path><g style="clip-path: url(&quot;#freepik--clip-path--inject-98&quot;); transform-origin: 305.600014px 373.068771px;" id="el5dhxyqpwu35" class="animable"><g id="el0ihyfk6c8v0v"><path d="M393.7,351.36a2,2,0,0,0,.35-1.33l.07-8.2L292.07,317l-68.76,23v88.76c.3,0,.61-.08.9-.14a11.64,11.64,0,0,0,2.56-.79L392.86,352A1.66,1.66,0,0,0,393.7,351.36Z" style="opacity: 0.2; transform-origin: 308.715012px 372.880005px;" class="animable" id="ely8aln6sehab"></path></g><g id="el7ro391m6r5x"><path d="M220.56,429.13V415.36h-3.48V428.7A11,11,0,0,0,220.56,429.13Z" style="opacity: 0.2; transform-origin: 218.82px 422.24876px;" class="animable" id="elp3ey9d55dp"></path></g></g><path d="M394.05,350l.07-8.2L292.07,317l-177.7,59.46V385a1.74,1.74,0,0,0,.39,1.13,2.64,2.64,0,0,0,1.17.79l99.9,41.23a10.84,10.84,0,0,0,2.54.65,17.54,17.54,0,0,0,5.84-.15,11.64,11.64,0,0,0,2.56-.79L392.86,352a1.66,1.66,0,0,0,.84-.66A2,2,0,0,0,394.05,350Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 254.244858px 372.98782px;" id="elsxnjdadb09e" class="animable"></path><path d="M341.84,331.61l-13.07-3.31a3.45,3.45,0,0,0-.59-.1c-.21,0-.43,0-.64,0a5.6,5.6,0,0,0-.6.05,2.93,2.93,0,0,0-.49.12.66.66,0,0,0-.29.18.2.2,0,0,0,0,.19.44.44,0,0,0,.21.19,1.57,1.57,0,0,0,.44.16l13.07,3.34a5.55,5.55,0,0,0,.61.1l.65,0a5.73,5.73,0,0,0,.61-.06,2.51,2.51,0,0,0,.49-.12.75.75,0,0,0,.28-.18.19.19,0,0,0,0-.2.54.54,0,0,0-.22-.2,2.3,2.3,0,0,0-.45-.16" style="fill: rgb(255, 255, 255); transform-origin: 334.342163px 330.364975px;" id="elc2rrquphg2d" class="animable"></path><path d="M380.13,342.9l-22.05-5.62h-3.61c-.4,0-.79,0-1.18,0s-.78-.05-1.15-.1-.75-.1-1.11-.16-.69-.14-1-.22l-38.45-9.87-.78-.24c-.24-.09-.45-.18-.64-.27a3.6,3.6,0,0,1-.48-.3,1.44,1.44,0,0,1-.3-.31l-.77-1.12-19.74-5L138.54,371.5l94.88,36.33L380.13,342.9" style="fill: #16276B; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 3px; transform-origin: 259.334999px 363.760025px;" id="elsuq6ml86ym" class="animable"></path><path d="M394.41,341.13a2.47,2.47,0,0,0-.92-.7,7.82,7.82,0,0,0-1.71-.6l-96.29-24a13.55,13.55,0,0,0-1.84-.31,19.1,19.1,0,0,0-2-.07,15,15,0,0,0-1.94.15,9.5,9.5,0,0,0-1.64.37l-171.4,58.14a7.31,7.31,0,0,0-1.79.85,2.12,2.12,0,0,0-.86.94.91.91,0,0,0,.12.92,2.59,2.59,0,0,0,1.16.8l100.54,40.71a10.83,10.83,0,0,0,2.54.66,17.54,17.54,0,0,0,5.84-.15,11.64,11.64,0,0,0,2.56-.79l166.87-75.56a1.75,1.75,0,0,0,.85-.67A.68.68,0,0,0,394.41,341.13Zm-161,66.7L138.54,371.5l150.32-51.89,19.74,5,.77,1.12a1.44,1.44,0,0,0,.3.31,3.6,3.6,0,0,0,.48.3c.19.09.4.18.64.27l.78.24L350,336.76c.32.08.66.16,1,.22s.73.12,1.11.16.76.08,1.15.1.78,0,1.18,0h3.61l22.05,5.62Zm92.74-79.31a.66.66,0,0,1,.29-.18,2.93,2.93,0,0,1,.49-.12,5.6,5.6,0,0,1,.6-.05c.21,0,.43,0,.64,0a3.45,3.45,0,0,1,.59.1l13.07,3.31a2.3,2.3,0,0,1,.45.16.54.54,0,0,1,.22.2.19.19,0,0,1,0,.2.75.75,0,0,1-.28.18,2.51,2.51,0,0,1-.49.12,5.73,5.73,0,0,1-.61.06l-.65,0a5.55,5.55,0,0,1-.61-.1l-13.07-3.34a1.57,1.57,0,0,1-.44-.16.44.44,0,0,1-.21-.19A.2.2,0,0,1,326.16,328.52ZM180.67,391.66a2.77,2.77,0,0,1-.78.44,6,6,0,0,1-1.13.3,7.46,7.46,0,0,1-1.25.13,8,8,0,0,1-1.22-.06,4.79,4.79,0,0,1-1-.26,1.78,1.78,0,0,1-.65-.41.59.59,0,0,1-.16-.47.84.84,0,0,1,.33-.48,2.54,2.54,0,0,1,.78-.44,6,6,0,0,1,1.13-.3,8.4,8.4,0,0,1,1.24-.12,8,8,0,0,1,1.21.06,4.86,4.86,0,0,1,1,.25,1.69,1.69,0,0,1,.65.4.54.54,0,0,1,.17.47A.82.82,0,0,1,180.67,391.66Z" style="fill: rgb(38, 50, 56); transform-origin: 254.250946px 367.306358px;" id="elolo9y7glaab" class="animable"></path><path d="M180.16,390.3a4.86,4.86,0,0,0-1-.25,8,8,0,0,0-1.21-.06,8.4,8.4,0,0,0-1.24.12,6,6,0,0,0-1.13.3,2.54,2.54,0,0,0-.78.44.84.84,0,0,0-.33.48.59.59,0,0,0,.16.47,1.78,1.78,0,0,0,.65.41,4.79,4.79,0,0,0,1,.26,8,8,0,0,0,1.22.06,7.46,7.46,0,0,0,1.25-.13,6,6,0,0,0,1.13-.3,2.77,2.77,0,0,0,.78-.44.82.82,0,0,0,.31-.49.54.54,0,0,0-.17-.47,1.69,1.69,0,0,0-.65-.4" style="fill: rgb(255, 255, 255); transform-origin: 177.720752px 391.260113px;" id="elar3u3xlulx6" class="animable"></path></g><g id="freepik--Lines--inject-98" style="transform-origin: 256.030006px 315.759995px;" class="animable"><line x1="146.79" y1="346.94" x2="149.65" y2="351.78" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 148.219994px 349.360001px;" id="el1l9o6f907lk" class="animable"></line><line x1="104.77" y1="275.87" x2="143.56" y2="341.47" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 124.164997px 308.669998px;" id="elwz7lf291zp" class="animable"></line><line x1="179.6" y1="332.92" x2="181.23" y2="336.82" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 180.415001px 334.87001px;" id="elsli3ckcce3" class="animable"></line><line x1="168.49" y1="306.34" x2="177.78" y2="328.56" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 173.135002px 317.449997px;" id="elxv16xx6i3ra" class="animable"></line><line x1="362.12" y1="272.19" x2="341.68" y2="322.41" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 351.899994px 297.300003px;" id="elmt1hicebuu" class="animable"></line><line x1="367.17" y1="259.8" x2="364.64" y2="265.99" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 365.905014px 262.894989px;" id="elxdoto5kk1sr" class="animable"></line><line x1="378.51" y1="321.38" x2="374.05" y2="326.29" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 376.279999px 323.835007px;" id="elfvcgofpcegw" class="animable"></line><line x1="407.29" y1="289.72" x2="382.97" y2="316.47" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 395.130005px 303.095001px;" id="elwp3j0cekaxd" class="animable"></line><line x1="161.84" y1="339.59" x2="178.46" y2="371.72" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 170.150002px 355.654999px;" id="eluewx4h1jo3q" class="animable"></line><line x1="365.74" y1="319.64" x2="347.45" y2="344.57" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 356.595001px 332.105011px;" id="elzmigmlt1y9j" class="animable"></line><line x1="248.83" y1="319.64" x2="253.26" y2="341.8" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 251.044998px 330.720001px;" id="elxdvthib39im" class="animable"></line></g><g id="freepik--earth-globe--inject-98" style="transform-origin: 254.25px 196.669994px;" class="animable"><circle cx="168.48" cy="108.87" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 168.48px 108.87px;" id="eliw60smkhcg" class="animable"></circle><path d="M172.09,108.13H165a2.51,2.51,0,0,0-2.51,2.51v6a9.76,9.76,0,0,0,12.11-.09v-5.86A2.51,2.51,0,0,0,172.09,108.13Z" style="fill: #16276B; transform-origin: 168.545256px 113.41532px;" id="elbx4qaw9yut" class="animable"></path><circle cx="168.42" cy="103.43" r="3.61" style="fill: #16276B; transform-origin: 168.42px 103.43px;" id="elpbjumeb9n6" class="animable"></circle><g id="elbs9uz7tpuw9"><circle cx="189" cy="303.08" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 189px 303.08px; transform: rotate(-68.66deg);" class="animable" id="elt3erqim1xvg"></circle></g><path d="M192.61,302.35h-7.1a2.5,2.5,0,0,0-2.5,2.5v5.95a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,192.61,302.35Z" style="fill: #16276B; transform-origin: 189.059998px 307.604733px;" id="eltdalpq4n7cr" class="animable"></path><path d="M188.94,301.25a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,188.94,301.25Z" style="fill: #16276B; transform-origin: 188.940002px 297.639984px;" id="eliucbopu8cje" class="animable"></path><g id="elimx4zeu3pu"><circle cx="254.25" cy="196.67" r="108.67" style="fill: rgb(255, 255, 255); transform-origin: 254.25px 196.67px; transform: rotate(-45deg);" class="animable" id="elsphadh3ntci"></circle></g><g style="clip-path: url(&quot;#freepik--clip-path-2--inject-98&quot;); transform-origin: 254.25px 196.669994px;" id="elp8z4vqmmjz" class="animable"><g id="el6xusem9v0sr"><circle cx="254.25" cy="196.67" r="108.67" style="opacity: 0.18; transform-origin: 254.25px 196.67px; transform: rotate(-45deg);" class="animable" id="elj58vd2cgjgm"></circle></g><g id="eleeyt2ydlexp"><path d="M254.25,243.09a108.71,108.71,0,0,1-104.14-77.55,108.67,108.67,0,1,0,208.28,0A108.72,108.72,0,0,1,254.25,243.09Z" style="fill: rgb(255, 255, 255); opacity: 0.86; transform-origin: 254.250015px 235.399384px;" class="animable" id="el7k74hfzdd9k"></path></g><path d="M250.34,146.36,260.66,151l2.83,4.64,4.65,1.81.51,4.9-1.8,2.84-3.61.77-7.74-3.1v-1l4.38-1.8-1.55-5.42-7-2.58-3.09-4.12Zm65,119.15-8.25-3.35L297,258.55h-8L281.55,257l-8.26,1.81-4.64.25h-2.84l-5.41,3.1-5.16,2.06-7-4.38,1.8-7.22-4.38-1.81h-5.16l-.77-2.32.51-4.64-1.8-2.58-3.61.51-1,2.58-4.38.26L225.58,240,224,233.79l3.87-7.22,7.48.51,2.06,1.81h3.1l3.87-2.32,3.35,1,4.64,8,1.81-.25-.52-5.94-1.54-3.09.51-4.9,9.54-4.13,1.29-9.54,4.13-3.35,3.35-5.93,2.58-.52,5.93-3.87.26-2.06-4.13.26-.77-2.07H272l-4.38,1,2.06-3.35,9-2.58,2.06-2.32,3.61,5.67,2.33,2.33,3.61-1-1.55-3.35-5.42-3.87-6.19-7-6.45-4.39-6.19-1-3.09-3.09-4.13-1-.51,1-.52,7.48,1,2.58L255,185.56l-5.16-4.13.78-3.61-5.42-2.58-2.32-2.83,1.29-6.45,7.48-5.42.52-6.19-2.84.26-1.81-2.32-.77-3.87-1.81-.26-1,4.13-2.83.52-1.29-9-2.07-1.29-3.61-1.55L230,143l5.15,4.91,1,4.38-9.28-7-6.45-7-.51-7-6.71-2.06L208,132.69a38.83,38.83,0,0,1-3.87,2.06,42.49,42.49,0,0,1-6.19,1l-1,4.39-5.93.26.52,2.83,9.54,1.55,4.9,5.42v9l-2.84,8,.52,8.51-7.22,12.64-1.55,18.82,2.32,10.84,3.35,8.25,3.87.52-1.29-4.13-2.06-3.1-1.29-5.67,2.32-.52,3.61,9.29L208.3,231v6.71l4.9,5.93L222,250l13.41,3.61,4.13,3.87,3.09,4.12,4.64,2.84,5.68,1.55,5.67-.26s-.26,2.58-.26,3.87-3.61,5.67-3.61,5.67l-2.83,5.16,2.06,5.67,5.67,2.33,8,8.25,3.61,1.55v3.86l.45,1.81a108.27,108.27,0,0,0,54.09-25.47l.14-1.87,7-12.64-3.35-2.32Zm26.83-101.87-2.84-4.9-3.61-5.68-1-7.73,4.64.77.26-2.58-3.36-.26,2.84-1.29,3.1-1.8v-2.58l-3.1-4.13-.66-5.55A108.77,108.77,0,0,0,210.86,97l5.95,4.21-3.61,4.65-4.9,1-.52,7-2.06.77-2.58,2.84.26,4.64,4.38.52L206,127h4.38l7.48-9.54.78-4.12,7.22-.52,1.8-3.1,7.48-.77.78-4.38,5.41-.26s3.87-2.06,4.65-2.06a31.7,31.7,0,0,1,4.38,1.28l3.87,3.1h5.41l4.65-2.84,5.93.52a6.39,6.39,0,0,0,2.84,1c1.29,0,5.15-1.81,5.15-1.81l7.48,4.65,3.1,2.32v3.87l3.87.51,1.29-2.32,3.35,1.55-.26,2.06-7.74,2.07,4.39,5.67,9.28,5.16,3.87,5.16,5.68.51,1.29-2.58,2.06-.51-6.71-5.16L305,126l3.35-1-3.1-4.38,4.39-.26,5.67,3.09,1.29,6.19,2.84,3.36,2.32,7.48,5.67,4.12v8.51l5.94,3.87-.26,2.84-.78,3.35,1.55,4.64.52,2.33,4.38.77,2.07-4.39Zm3.35-26v1.48l-1.29,4.12.77,3.61,2.84,1v4.9l-3.1-1.29L344,165.44l-3.09,5.68,2.06,7.22,3.35,3.09v13.93l3.35,10.83,3.62,8.26,5.93,1.54,2.06-5.16.84-.65a109.63,109.63,0,0,0,.84-13.51A108.14,108.14,0,0,0,345.51,137.66ZM285.93,136l-17-7.48-7.48.26-1.81,4.9-3.09-3.35-5.67,1.29-.52,8.51,4.64,3.35,3.35-4.9,3.87,3.87,8,7,1.55,7.48,6.7,8.51,10.83-1.8-.25-3.87-2.32-4.39-.52-10.31,2.58-4.39Zm13.93,5.68-3.87-1-3.35,2.84,1.8,7.48h3.36Zm24,4.9L315.08,142l-1.81-3.09-2.06.77,1.8,5.16,1.55,6.71,3.87,1.54.77-1-2.32-3.87,6.71,2.58Zm-75.31,93.1-1,1,7.74,2.32,3.09,3.61,4.91.52,1.8-2.84-5.93-1Zm23,4.9-5.42,1.55.78,2.06h6.7l1.29-2.06-2.32.26Z" style="fill: #16276B; transform-origin: 276.985008px 195.937164px;" id="ele120mhg5ufc" class="animable"></path><g style="clip-path: url(&quot;#freepik--clip-path-3--inject-98&quot;); transform-origin: 254.250015px 235.399384px;" id="elptwozsn3vee" class="animable"><g id="elgx76e5w3nq"><path d="M254.25,243.09a108.71,108.71,0,0,1-104.14-77.55,108.67,108.67,0,1,0,208.28,0A108.72,108.72,0,0,1,254.25,243.09Z" style="fill: rgb(255, 255, 255); opacity: 0.65; transform-origin: 254.250015px 235.399384px;" class="animable" id="elmt473gyg2q"></path></g></g><path d="M250.34,146.36,260.66,151l2.83,4.64,4.65,1.81.51,4.9-1.8,2.84-3.61.77-7.74-3.1v-1l4.38-1.8-1.55-5.42-7-2.58-3.09-4.12Zm65,119.15-8.25-3.35L297,258.55h-8L281.55,257l-8.26,1.81-4.64.25h-2.84l-5.41,3.1-5.16,2.06-7-4.38,1.8-7.22-4.38-1.81h-5.16l-.77-2.32.51-4.64-1.8-2.58-3.61.51-1,2.58-4.38.26L225.58,240,224,233.79l3.87-7.22,7.48.51,2.06,1.81h3.1l3.87-2.32,3.35,1,4.64,8,1.81-.25-.52-5.94-1.54-3.09.51-4.9,9.54-4.13,1.29-9.54,4.13-3.35,3.35-5.93,2.58-.52,5.93-3.87.26-2.06-4.13.26-.77-2.07H272l-4.38,1,2.06-3.35,9-2.58,2.06-2.32,3.61,5.67,2.33,2.33,3.61-1-1.55-3.35-5.42-3.87-6.19-7-6.45-4.39-6.19-1-3.09-3.09-4.13-1-.51,1-.52,7.48,1,2.58L255,185.56l-5.16-4.13.78-3.61-5.42-2.58-2.32-2.83,1.29-6.45,7.48-5.42.52-6.19-2.84.26-1.81-2.32-.77-3.87-1.81-.26-1,4.13-2.83.52-1.29-9-2.07-1.29-3.61-1.55L230,143l5.15,4.91,1,4.38-9.28-7-6.45-7-.51-7-6.71-2.06L208,132.69a38.83,38.83,0,0,1-3.87,2.06,42.49,42.49,0,0,1-6.19,1l-1,4.39-5.93.26.52,2.83,9.54,1.55,4.9,5.42v9l-2.84,8,.52,8.51-7.22,12.64-1.55,18.82,2.32,10.84,3.35,8.25,3.87.52-1.29-4.13-2.06-3.1-1.29-5.67,2.32-.52,3.61,9.29L208.3,231v6.71l4.9,5.93L222,250l13.41,3.61,4.13,3.87,3.09,4.12,4.64,2.84,5.68,1.55,5.67-.26s-.26,2.58-.26,3.87-3.61,5.67-3.61,5.67l-2.83,5.16,2.06,5.67,5.67,2.33,8,8.25,3.61,1.55v3.86l.45,1.81a108.27,108.27,0,0,0,54.09-25.47l.14-1.87,7-12.64-3.35-2.32Zm26.83-101.87-2.84-4.9-3.61-5.68-1-7.73,4.64.77.26-2.58-3.36-.26,2.84-1.29,3.1-1.8v-2.58l-3.1-4.13-.66-5.55A108.77,108.77,0,0,0,210.86,97l5.95,4.21-3.61,4.65-4.9,1-.52,7-2.06.77-2.58,2.84.26,4.64,4.38.52L206,127h4.38l7.48-9.54.78-4.12,7.22-.52,1.8-3.1,7.48-.77.78-4.38,5.41-.26s3.87-2.06,4.65-2.06a31.7,31.7,0,0,1,4.38,1.28l3.87,3.1h5.41l4.65-2.84,5.93.52a6.39,6.39,0,0,0,2.84,1c1.29,0,5.15-1.81,5.15-1.81l7.48,4.65,3.1,2.32v3.87l3.87.51,1.29-2.32,3.35,1.55-.26,2.06-7.74,2.07,4.39,5.67,9.28,5.16,3.87,5.16,5.68.51,1.29-2.58,2.06-.51-6.71-5.16L305,126l3.35-1-3.1-4.38,4.39-.26,5.67,3.09,1.29,6.19,2.84,3.36,2.32,7.48,5.67,4.12v8.51l5.94,3.87-.26,2.84-.78,3.35,1.55,4.64.52,2.33,4.38.77,2.07-4.39Zm3.35-26v1.48l-1.29,4.12.77,3.61,2.84,1v4.9l-3.1-1.29L344,165.44l-3.09,5.68,2.06,7.22,3.35,3.09v13.93l3.35,10.83,3.62,8.26,5.93,1.54,2.06-5.16.84-.65a109.63,109.63,0,0,0,.84-13.51A108.14,108.14,0,0,0,345.51,137.66ZM285.93,136l-17-7.48-7.48.26-1.81,4.9-3.09-3.35-5.67,1.29-.52,8.51,4.64,3.35,3.35-4.9,3.87,3.87,8,7,1.55,7.48,6.7,8.51,10.83-1.8-.25-3.87-2.32-4.39-.52-10.31,2.58-4.39Zm13.93,5.68-3.87-1-3.35,2.84,1.8,7.48h3.36Zm24,4.9L315.08,142l-1.81-3.09-2.06.77,1.8,5.16,1.55,6.71,3.87,1.54.77-1-2.32-3.87,6.71,2.58Zm-75.31,93.1-1,1,7.74,2.32,3.09,3.61,4.91.52,1.8-2.84-5.93-1Zm23,4.9-5.42,1.55.78,2.06h6.7l1.29-2.06-2.32.26Z" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 276.985008px 195.937164px;" id="el5byxm7bebf4" class="animable"></path></g><g id="el7788kltv55c"><circle cx="254.25" cy="196.67" r="108.67" style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 254.25px 196.67px; transform: rotate(-45deg);" class="animable" id="elglhzyboj5eu"></circle></g><g id="elhq8j1cakekv"><circle cx="388.63" cy="141.59" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 388.63px 141.59px; transform: rotate(-9.25deg);" class="animable" id="ell6gsijes55h"></circle></g><path d="M392.24,140.85h-7.1a2.5,2.5,0,0,0-2.5,2.51v5.95a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,392.24,140.85Z" style="fill: #16276B; transform-origin: 388.689997px 146.109716px;" id="el1rudd0qtovn" class="animable"></path><path d="M388.57,139.75a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,388.57,139.75Z" style="fill: #16276B; transform-origin: 388.569992px 136.139999px;" id="elufgzegagxn" class="animable"></path><circle cx="311.96" cy="97.92" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 311.96px 97.92px;" id="elk5my892ygd" class="animable"></circle><path d="M315.56,97.18h-7.09A2.51,2.51,0,0,0,306,99.69v6a9.76,9.76,0,0,0,12.11-.09V99.69A2.51,2.51,0,0,0,315.56,97.18Z" style="fill: #16276B; transform-origin: 312.054993px 102.465156px;" id="elp3twsx5s71" class="animable"></path><circle cx="311.89" cy="92.47" r="3.61" style="fill: #16276B; transform-origin: 311.89px 92.47px;" id="el9v4b1mvf0m" class="animable"></circle><g id="elb1u85q57luv"><circle cx="115.13" cy="164.09" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 115.13px 164.09px; transform: rotate(-9.25deg);" class="animable" id="el1pigqjw0f2f"></circle></g><path d="M118.74,163.35h-7.1a2.5,2.5,0,0,0-2.5,2.51v5.95a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,118.74,163.35Z" style="fill: #16276B; transform-origin: 115.19px 168.609727px;" id="el6yez9ruqs0o" class="animable"></path><path d="M115.07,162.25a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,115.07,162.25Z" style="fill: #16276B; transform-origin: 115.069996px 158.639999px;" id="el0iama5lhdpba" class="animable"></path><g id="elzdsz1ez3v7m"><circle cx="122.13" cy="232.59" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 122.13px 232.59px; transform: rotate(-9.25deg);" class="animable" id="eldigsliwtnjt"></circle></g><path d="M125.74,231.85h-7.1a2.5,2.5,0,0,0-2.5,2.51v5.95a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,125.74,231.85Z" style="fill: #16276B; transform-origin: 122.19px 237.109719px;" id="elarkce6nyj3" class="animable"></path><path d="M122.07,230.75a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,122.07,230.75Z" style="fill: #16276B; transform-origin: 122.07px 227.139992px;" id="elanb82pqpoz" class="animable"></path><g id="el0akjqs6qhzj8"><circle cx="166.5" cy="177.58" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 166.5px 177.58px; transform: rotate(-68.51deg);" class="animable" id="elgokqm2mvxk6"></circle></g><path d="M170.11,176.85H163a2.5,2.5,0,0,0-2.5,2.5v6a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,170.11,176.85Z" style="fill: #16276B; transform-origin: 166.550253px 182.129724px;" id="elt955yne181b" class="animable"></path><path d="M166.44,175.75a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,166.44,175.75Z" style="fill: #16276B; transform-origin: 166.440002px 172.139999px;" id="el9ep1c8wj9md" class="animable"></path><circle cx="238.27" cy="284.33" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 238.27px 284.33px;" id="el8k1krspll4t" class="animable"></circle><path d="M241.88,283.6h-7.09a2.51,2.51,0,0,0-2.51,2.51v5.95a9.76,9.76,0,0,0,12.11-.09v-5.86A2.51,2.51,0,0,0,241.88,283.6Z" style="fill: #16276B; transform-origin: 238.335014px 288.860327px;" id="ela257zglew2e" class="animable"></path><circle cx="238.21" cy="278.89" r="3.61" style="fill: #16276B; transform-origin: 238.21px 278.89px;" id="ell69h7sv05vo" class="animable"></circle><circle cx="316.5" cy="305.25" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 316.5px 305.25px;" id="el7gokgl5ehk" class="animable"></circle><path d="M320.1,304.52H313a2.51,2.51,0,0,0-2.51,2.5v6a9.76,9.76,0,0,0,12.11-.09V307A2.5,2.5,0,0,0,320.1,304.52Z" style="fill: #16276B; transform-origin: 316.544983px 309.800304px;" id="elojr4swt52hd" class="animable"></path><circle cx="316.43" cy="299.81" r="3.61" style="fill: #16276B; transform-origin: 316.43px 299.81px;" id="el1ll3vjyo38r" class="animable"></circle><g id="eljstg66kfv7e"><circle cx="371.5" cy="242.58" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 371.5px 242.58px; transform: rotate(-69.82deg);" class="animable" id="elkkkvlrybmsd"></circle></g><path d="M375.11,241.85H368a2.5,2.5,0,0,0-2.5,2.5v6a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,375.11,241.85Z" style="fill: #16276B; transform-origin: 371.550253px 247.129729px;" id="el3rcn0cn2emd" class="animable"></path><path d="M371.44,240.75a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,371.44,240.75Z" style="fill: #16276B; transform-origin: 371.440018px 237.140015px;" id="elfkha72u6b0w" class="animable"></path><path d="M349.86,144.64c15.36,12.45,24.47,28,24.47,44.78,0,41-54.17,74.26-121,74.26s-121-33.25-121-74.26c0-17.94,10.37-34.39,27.63-47.23" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 253.329987px 202.93499px;" id="el9lp13uus2tj" class="animable"></path><path d="M184,113.75C194.89,95.9,210.2,84,228.34,81.35c42.62-6.14,84.73,41.47,94.07,106.34s-17.63,122.43-60.24,128.57c-19.4,2.79-38.7-5.55-54.85-21.59" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 254.129242px 198.80423px;" id="elxuo8jreo70e" class="animable"></path><g id="eln4o9qofxmn"><ellipse cx="243.81" cy="207.7" rx="49.19" ry="121.67" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 243.81px 207.7px; transform: rotate(-58.58deg);" class="animable" id="els4a61bwzgu"></ellipse></g><g id="eltmcv0mig4fj"><ellipse cx="252.72" cy="202.26" rx="124.86" ry="49.19" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 252.72px 202.26px; transform: rotate(-31.42deg);" class="animable" id="el7o3znt4uuy"></ellipse></g><path d="M304.07,128a2,2,0,1,0-2,2A2,2,0,0,0,304.07,128Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 302.070007px 128px;" id="elc2wyldis7w6" class="animable"></path><path d="M326.07,209.87a2,2,0,1,0-2,2A2,2,0,0,0,326.07,209.87Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 324.070007px 209.869995px;" id="elnq1qarq056o" class="animable"></path><path d="M321.67,251.46a2,2,0,1,0-2,2A2,2,0,0,0,321.67,251.46Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 319.670013px 251.460007px;" id="eln4aq6xde8t" class="animable"></path><path d="M308.91,283.14a2,2,0,1,0-2,2A2,2,0,0,0,308.91,283.14Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 306.910004px 283.140015px;" id="ellkrblk3ll7s" class="animable"></path><path d="M347,238a2,2,0,1,0-2,2A2,2,0,0,0,347,238Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 345px 238px;" id="elyqkowg5jfhf" class="animable"></path><path d="M244.22,263.12a2,2,0,1,0-2,2A2,2,0,0,0,244.22,263.12Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 242.220001px 263.119995px;" id="elg6h9glvcy2f" class="animable"></path><path d="M153.13,229.9a2,2,0,1,0-2,2A2,2,0,0,0,153.13,229.9Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 151.130005px 229.899994px;" id="elzfapgxeh0q" class="animable"></path><path d="M168.53,209.21a2,2,0,1,0-2,2A2,2,0,0,0,168.53,209.21Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 166.529999px 209.210007px;" id="eljobuvtcek9k" class="animable"></path><path d="M244.44,151.35a2,2,0,1,0-2,2A2,2,0,0,0,244.44,151.35Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 242.440002px 151.350006px;" id="el3mxydi26rla" class="animable"></path><path d="M363.25,156.41a2,2,0,1,0-2,2A2,2,0,0,0,363.25,156.41Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 361.25px 156.410004px;" id="el111tlqth73yh" class="animable"></path><path d="M140.59,166.09a2,2,0,1,0-2,2A2,2,0,0,0,140.59,166.09Z" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 138.589996px 166.089996px;" id="el3gzhm6mwz7w" class="animable"></path><line x1="363.23" y1="155.62" x2="378.95" y2="147.16" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 371.090012px 151.389999px;" id="elgb7kqdq9sci" class="animable"></line><line x1="136.63" y1="166.09" x2="126.01" y2="164.09" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 131.320004px 165.089996px;" id="elc4bhi4p87is" class="animable"></line><line x1="166.55" y1="207.23" x2="166.55" y2="188.46" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 166.550003px 197.845001px;" id="elzmhcvuwxwe" class="animable"></line><line x1="149.17" y1="229.9" x2="133.01" y2="232.59" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 141.089996px 231.244995px;" id="el0evz55co9xvw" class="animable"></line><line x1="241.79" y1="265.07" x2="240.31" y2="273.77" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 241.049995px 269.419998px;" id="elrbprqp0cmaq" class="animable"></line><line x1="307.68" y1="285.05" x2="312.31" y2="295.13" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 309.994995px 290.089996px;" id="el6f84jokthw7" class="animable"></line><line x1="346.97" y1="238.04" x2="360.41" y2="240.92" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 353.690002px 239.479996px;" id="el6sw7khcsows" class="animable"></line><line x1="318.09" y1="250.01" x2="305.04" y2="237.45" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 311.565002px 243.729996px;" id="eltmqh1ss3wl" class="animable"></line><line x1="302.89" y1="126.22" x2="308.84" y2="108.53" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 305.865005px 117.375px;" id="elgy85lqd1gkq" class="animable"></line><line x1="176.38" y1="116.95" x2="178.9" y2="118.84" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 177.639999px 117.894997px;" id="el1v7tmn85kpu" class="animable"></line><line x1="195.6" y1="294.31" x2="198.43" y2="290.53" style="fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 197.014999px 292.419998px;" id="eljyqi39m04td" class="animable"></line><g id="elmfr5dp2zwm"><circle cx="297" cy="230.08" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 297px 230.08px; transform: rotate(-69.36deg);" class="animable" id="el5owgcmcb0xv"></circle></g><path d="M300.61,229.35h-7.1a2.5,2.5,0,0,0-2.5,2.5v6a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,300.61,229.35Z" style="fill: #16276B; transform-origin: 297.060232px 234.62973px;" id="elj7vumfvxoq" class="animable"></path><path d="M296.94,228.25a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,296.94,228.25Z" style="fill: #16276B; transform-origin: 296.939987px 224.639999px;" id="elkd1s12sbrds" class="animable"></path><g id="elt8ea7etslui"><circle cx="321.5" cy="178.58" r="10.88" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.5px; transform-origin: 321.5px 178.58px; transform: rotate(-69.51deg);" class="animable" id="el9hnfy5rtva"></circle></g><path d="M325.11,177.85H318a2.5,2.5,0,0,0-2.5,2.5v6a9.75,9.75,0,0,0,12.1-.09v-5.86A2.5,2.5,0,0,0,325.11,177.85Z" style="fill: #16276B; transform-origin: 321.550253px 183.129733px;" id="elpmncc69tc3" class="animable"></path><path d="M321.44,176.75a3.61,3.61,0,1,0-3.61-3.61A3.61,3.61,0,0,0,321.44,176.75Z" style="fill: #16276B; transform-origin: 321.440018px 173.139999px;" id="elszgcvfgvtw8" class="animable"></path></g><defs>     <filter id="active" height="200%">         <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>                <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>        <feMerge>            <feMergeNode in="OUTLINE"></feMergeNode>            <feMergeNode in="SourceGraphic"></feMergeNode>        </feMerge>    </filter>    <filter id="hover" height="200%">        <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>                <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>        <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>        <feMerge>            <feMergeNode in="OUTLINE"></feMergeNode>            <feMergeNode in="SourceGraphic"></feMergeNode>        </feMerge>            <feColorMatrix type="matrix" values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "></feColorMatrix>    </filter></defs><defs><clipPath id="freepik--clip-path--inject-98"><path d="M394.05,350l.07-8.2L292.07,317l-177.7,59.46V385a1.74,1.74,0,0,0,.39,1.13,2.64,2.64,0,0,0,1.17.79l99.9,41.23a10.84,10.84,0,0,0,2.54.65,17.54,17.54,0,0,0,5.84-.15,11.64,11.64,0,0,0,2.56-.79L392.86,352a1.66,1.66,0,0,0,.84-.66A2,2,0,0,0,394.05,350Z" style="fill:#fff;stroke:#263238;stroke-miterlimit:10"></path></clipPath><clipPath id="freepik--clip-path-2--inject-98"><circle cx="254.25" cy="196.67" r="108.67" transform="translate(-64.6 237.38) rotate(-45)" style="fill:#fff;stroke:#263238;stroke-miterlimit:10"></circle></clipPath><clipPath id="freepik--clip-path-3--inject-98"><path d="M250.34,146.36,260.66,151l2.83,4.64,4.65,1.81.51,4.9-1.8,2.84-3.61.77-7.74-3.1v-1l4.38-1.8-1.55-5.42-7-2.58-3.09-4.12Zm65,119.15-8.25-3.35L297,258.55h-8L281.55,257l-8.26,1.81-4.64.25h-2.84l-5.41,3.1-5.16,2.06-7-4.38,1.8-7.22-4.38-1.81h-5.16l-.77-2.32.51-4.64-1.8-2.58-3.61.51-1,2.58-4.38.26L225.58,240,224,233.79l3.87-7.22,7.48.51,2.06,1.81h3.1l3.87-2.32,3.35,1,4.64,8,1.81-.25-.52-5.94-1.54-3.09.51-4.9,9.54-4.13,1.29-9.54,4.13-3.35,3.35-5.93,2.58-.52,5.93-3.87.26-2.06-4.13.26-.77-2.07H272l-4.38,1,2.06-3.35,9-2.58,2.06-2.32,3.61,5.67,2.33,2.33,3.61-1-1.55-3.35-5.42-3.87-6.19-7-6.45-4.39-6.19-1-3.09-3.09-4.13-1-.51,1-.52,7.48,1,2.58L255,185.56l-5.16-4.13.78-3.61-5.42-2.58-2.32-2.83,1.29-6.45,7.48-5.42.52-6.19-2.84.26-1.81-2.32-.77-3.87-1.81-.26-1,4.13-2.83.52-1.29-9-2.07-1.29-3.61-1.55L230,143l5.15,4.91,1,4.38-9.28-7-6.45-7-.51-7-6.71-2.06L208,132.69a38.83,38.83,0,0,1-3.87,2.06,42.49,42.49,0,0,1-6.19,1l-1,4.39-5.93.26.52,2.83,9.54,1.55,4.9,5.42v9l-2.84,8,.52,8.51-7.22,12.64-1.55,18.82,2.32,10.84,3.35,8.25,3.87.52-1.29-4.13-2.06-3.1-1.29-5.67,2.32-.52,3.61,9.29L208.3,231v6.71l4.9,5.93L222,250l13.41,3.61,4.13,3.87,3.09,4.12,4.64,2.84,5.68,1.55,5.67-.26s-.26,2.58-.26,3.87-3.61,5.67-3.61,5.67l-2.83,5.16,2.06,5.67,5.67,2.33,8,8.25,3.61,1.55v3.86l.45,1.81a108.27,108.27,0,0,0,54.09-25.47l.14-1.87,7-12.64-3.35-2.32Zm26.83-101.87-2.84-4.9-3.61-5.68-1-7.73,4.64.77.26-2.58-3.36-.26,2.84-1.29,3.1-1.8v-2.58l-3.1-4.13-.66-5.55A108.77,108.77,0,0,0,210.86,97l5.95,4.21-3.61,4.65-4.9,1-.52,7-2.06.77-2.58,2.84.26,4.64,4.38.52L206,127h4.38l7.48-9.54.78-4.12,7.22-.52,1.8-3.1,7.48-.77.78-4.38,5.41-.26s3.87-2.06,4.65-2.06a31.7,31.7,0,0,1,4.38,1.28l3.87,3.1h5.41l4.65-2.84,5.93.52a6.39,6.39,0,0,0,2.84,1c1.29,0,5.15-1.81,5.15-1.81l7.48,4.65,3.1,2.32v3.87l3.87.51,1.29-2.32,3.35,1.55-.26,2.06-7.74,2.07,4.39,5.67,9.28,5.16,3.87,5.16,5.68.51,1.29-2.58,2.06-.51-6.71-5.16L305,126l3.35-1-3.1-4.38,4.39-.26,5.67,3.09,1.29,6.19,2.84,3.36,2.32,7.48,5.67,4.12v8.51l5.94,3.87-.26,2.84-.78,3.35,1.55,4.64.52,2.33,4.38.77,2.07-4.39Zm3.35-26v1.48l-1.29,4.12.77,3.61,2.84,1v4.9l-3.1-1.29L344,165.44l-3.09,5.68,2.06,7.22,3.35,3.09v13.93l3.35,10.83,3.62,8.26,5.93,1.54,2.06-5.16.84-.65a109.63,109.63,0,0,0,.84-13.51A108.14,108.14,0,0,0,345.51,137.66ZM285.93,136l-17-7.48-7.48.26-1.81,4.9-3.09-3.35-5.67,1.29-.52,8.51,4.64,3.35,3.35-4.9,3.87,3.87,8,7,1.55,7.48,6.7,8.51,10.83-1.8-.25-3.87-2.32-4.39-.52-10.31,2.58-4.39Zm13.93,5.68-3.87-1-3.35,2.84,1.8,7.48h3.36Zm24,4.9L315.08,142l-1.81-3.09-2.06.77,1.8,5.16,1.55,6.71,3.87,1.54.77-1-2.32-3.87,6.71,2.58Zm-75.31,93.1-1,1,7.74,2.32,3.09,3.61,4.91.52,1.8-2.84-5.93-1Zm23,4.9-5.42,1.55.78,2.06h6.7l1.29-2.06-2.32.26Z" style="fill:#92E3A9;stroke:#263238;stroke-miterlimit:10"></path></clipPath></defs></svg>


 <h2 style="font-family: 'Roboto', sans-serif;">See what sets SmartScope apart</h2>
 

 <p style="font-family: 'Roboto', sans-serif;">Our software uses data processing and analysis techniques to provide predictive insights, such as selling data on new homeowners to luxury sofa retailers,
     and selling data on commencement of construction notices to flooring and kitchen companies. We tailor our product to meet the specific needs of our customers, and we are always looking for new ways to help them increase their sales.
 </p>


 <!-- <div class="card text-center" style="color: black;">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body" style="background-color: blue;">

      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div> -->

{% endblock %}
