{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action = "#" method = "post">
    <p>First name:</p>
    <p><input type = "text" name = "name" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>
{% endblock %}