{% extends "base.html" %}
{% block title %}Why Smart Scope{% endblock %}

{% block content %}
<h1>Why Smart Scope</h1>
<br>

<p> This is my website and I hope you enjoy it here. </p>



<p> There is not much to do yet but soon I will add many new features! </p>

{% endblock %}